<p id="notice"><%= notice %></p>

<h1>Listing Pps</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pps.each do |pp| %>
      <tr>
        <td><%= pp.title %></td>
        <td><%= link_to 'Show', pp %></td>
        <td><%= link_to 'Edit', edit_pp_path(pp) %></td>
        <td><%= link_to 'Destroy', pp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pp', new_pp_path %>
